$primary: #00b2ed;
$secondary: #fff;
$text-color-light: #ccc;
$text-color-dark: #fff;
$text-color-dark-2: #f1f1f1;
$text-color-3: #212529;
$border-color: #ccc;
$background-color: #212529;
$bg-light: #3b4249;
$bg-light-2: #31363c;

@import "../main";
