$primary: #00b2ed;
$secondary: #243c4f;
$text-color-light: $secondary;
$text-color-dark: #212529;
$text-color-dark-2: #000;
$text-color-3: #fff;
$border-color: #ccc;
$background-color: #f5f5f5;
$bg-light: #fff;
$bg-light-2: #f7f7f7;

@import "../main";
