.r-info-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
        flex: 33.3333%;
        max-width: 33.3333%;
        font-size: 14px;
        color: $light-grey;

        span {
            color: $text-color;
        }
    }
}
