.r-social-links {
    text-align: center;

    a {
        font-size: 16px;
        border: solid 1px $text-color-dark;
        color: $text-color-dark;
        border-radius: 50px;
        width: 34px;
        padding: 4px 0;
        display: inline-block;
        margin-right: 5px;
        text-align: center;

        &:hover {
            color: $bg-light;
            background-color: $text-color-dark;
        }
    }
}
